* {
    font-family: "Poppins", sans-serif;
}

.header {
    user-select: none;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    user-select: none;
}

.input-group {
    margin: auto;
    width: 50% !important;
    margin-top: 30px;
    margin-bottom: 30px;
    color: blue;
}

.button {
    color: brown;
}

.todoForm {
    margin: auto;
    width: 50% !important;
}

.todo-item-body {
    display: flex;
    align-items: center;
}

.todo-item-body > div {
    padding-left: 10px;
    padding-right: 10px;
}

.todo-content {
    flex: 1;
}

.deadline > span,
.todo-content > span {
    font-size: 12px;
}

.flexible {
    flex: 2;
}
